---
import { eType } from '../../types/IProjectLinkIcon'
import type { AstroComponentFactory } from 'astro/runtime/server/render/astro/index.js'
import Tag from '../atoms/Tag.astro'
import ProjectLink from '../atoms/ProjectLink.astro'
interface Props {
	title: string
	image: string
	links: { type: eType; url: string }[]
	technologies: string[]
	Content: AstroComponentFactory
	class?: string
}
const { title, image, links, technologies, Content, class: className = '' } = Astro.props
---

<div
	class={`card w-full max-w-7xl justify-between overflow-hidden rounded-md bg-zinc-800 shadow-md lg:flex lg:h-80 ${className}`}
>
	<!--Image -->
	<a
		class="trapeze block aspect-video w-full lg:h-80 lg:w-[26rem]"
		href={links[0].url}
		target="_blank"
		rel="noopener noreferrer"
	>
		<img class="h-full w-full object-cover" src={image} alt="" />
	</a>

	<!--Content -->
	<div class="my-4 px-5 lg:w-9/12">
		<div class="flex h-full flex-col gap-3">
			<h3>{title}</h3>
			<div class="flex flex-wrap gap-5 text-xl text-gray-500">
				{links.map(({ type, url }) => <ProjectLink type={type} url={url} />)}
			</div>
			<span class="block h-1 w-12 rounded-full bg-white"></span>

			<div class="content flex flex-col gap-y-2 lg:h-2/4 lg:overflow-y-auto">
				<Content />
			</div>

			<!--Tags -->
			<div class="flex flex-wrap gap-x-8 gap-y-3">
				{technologies.map((t) => <Tag label={t} />)}
			</div>
		</div>
	</div>
</div>

<style lang="scss" scoped>
	/* 	@screen lg {
		.card .trapeze {
			clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 85% 100%);
		}
		.card:nth-child(2n) .trapeze {
			order: 1;
			clip-path: polygon(0% 100%, 15% 0%, 100% 0%, 100% 100%);
		}
	} */
</style>
