---

interface Props {
  nav: {
     label: string, href: string, icon?:string;
  }[];
  class: string
}

const { nav, class: className} = Astro.props;
---

<div class={className}>
  <ul class="flex gap-5">
  
    {
      nav.map(({ href, label, icon }) => (
        <li>
         { icon ?
          <a href={href} target="_blank" rel="noopener noreferrer" title={label}><i class={icon}></i></a>
          : <a href={href}>{label}</a>
        }
  
  
        </li>
      ))
    }
  </ul>
</div>
