---
import Card from '../molecules/Card.astro'
import { getCollection } from 'astro:content'
import { getLangFromUrl } from '../../i18n/utils'

const lang = getLangFromUrl(Astro.url)

const allBlogPosts = await getCollection('projects', ({ id }) => {
	return id.startsWith(`${lang}/`)
})
---

<div class="container relative mx-auto">
	<!--div invisble pour navaigation -->
	<div id="projects" class="nav-anchor"></div>

	<h2 class="ml-2 md:m-0">Mes projets</h2>

	<div class="grid grid-cols-12 gap-x-5 gap-y-10">
		{
			allBlogPosts.map(({ data, render }) => {
				const x = async () => {
					return await (
						<Card
							class="col-span-12 md:col-span-6 lg:col-span-4"
							Content={(await render()).Content}
							image={data.image}
							links={data.links}
							technologies={data.technologies}
							title={data.title}
						/>
					)
				}
				return x
			})
		}
	</div>
</div>

<!-- -->
