---
import Card from '../molecules/Card.astro'
import { getCollection } from 'astro:content'
import { getLangFromUrl } from '../../i18n/utils'

const lang = getLangFromUrl(Astro.url)

const allBlogPosts = await getCollection('projects', ({ id }) => {
	return id.startsWith(`${lang}/`)
})
---

<div class="container mx-auto">
	<h2 class="ml-2 md:m-0">Mes projets</h2>

	<div class="grid grid-cols-1 gap-16">
		{
			allBlogPosts.map(({ data, render }) => {
				const x = async () => {
					return await (
						<Card
							Content={(await render()).Content}
							image={data.image}
							links={data.links}
							technologies={data.technologies}
							title={data.title}
						/>
					)
				}
				return x
			})
		}
	</div>
</div>

<!-- -->

<style lang="scss" scoped></style>
